/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/


body {
   font-family: sans-serif;
}

/* nav */


.nav-1, header, body {
    background-color: #540B51;   
    
}

.nav-1 {
    display: flex;
}
.nav-1 img {
    width: 28%;
    margin: 5% 3% 0% 3%;
}

.nav-1 ul {
   display: none;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
}

.nav-buttons button {
    background-color: #540B51;
    border: none;
    margin-right: 10px;   
    margin-left: 10px;
}

.nav-buttons img {
    width: 1rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .nav-1 {
        justify-content: space-between;
        height: 4rem;       
    }
}

/* header */

.header-top {
    margin: 3%;

}
header {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.screenshot img {
    width: 156%;
    margin-top: 10%;
}

header h1 {    
    color: white;
    font-size: 2.3rem;
}

.yellow-p {
    color: #ECB12F;
}

.white-p {
    color: white;
}

.white-button, .blue-button, .purple-button {
    width: 100%;
    height: 3rem;
    border-radius: 6px;
    border: none;
    font-weight: bolder;
    margin-top: 3%;
}

.white-button {
    color: #540B51;    
}

.blue-button {
    color: white;
    background-color:#4285F4;
}

.blue-button img {
    float: left;
    width: 8%;
    background-color: white;
}

.blue-button span {
    position: relative;
    top: 19%;
    left: -6%;    
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    header  {
        flex-direction: row;
    }

    .header-top {
        width: 205%;
    }

    header h1 {
        font-size: 4.6rem;
        text-align: left;
    }
    
    .white-p {
        font-size: 1.3rem;
        width: 86%;
        text-align: left;
    }

    .screenshot img {
        margin-top: 55%;
    }
}

/* main */
/* section-1 */

#section-1 {
    background-color: #F3EAE2;
    padding: 5%;
}

#section-1 p {
    text-align: center;
    font-size: 1.1rem;
}

.group-images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

/* maybe there is a better way to do this */
.image-1 {
    width:30%;
}

.image-2 {
    width:15%;
}

.image-3 {
    width:20%;
}

.image-4 {
    width:12%;
}

/* maybe these padding are not responsive. Is there a better way? */
.image-5 {
    width:60%;
    padding-top: 5%;
}

.image-6 {
    width:32%;
    padding-top: 5%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .group-images {
        flex-wrap: nowrap;
    }

    .image-1 {
        width:15%;
    }
    
    .image-2 {
        width:8%;
    }
    
    .image-3 {
        width:10%;
    }
    
    .image-4 {
        width:6%;
    }
    
    /* maybe these padding are not responsive. Is there a better way? */
    .image-5 {
        width:27%; 
        padding-bottom: 5%;      
    }
    
    .image-6 {
        width:17%;  
        padding-bottom: 5%;      
    }
}


/* section-2 */

#section-2 {
    background-color: white;
    text-align: center;
    padding: 5% 2%;
}

#section-2 h3 {
    font-size: 1.6rem;
    color: #540B51;
    width: 93%;
    margin-bottom: 0;
}

#section-2 ul {
    list-style: none;
    padding-left: 25%;
    padding-right: 25%;
}

.percentage span {
    font-size: 2rem;
    color: #540B51; 
}

.percentage p {
    font-weight: bolder;
    font-size: 0.9rem;
    
}

/*it is not working  */
.p-span span {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #section-2 ul {
        display: flex;
        padding-left: 5%;
        padding-right: 0;

    }
    .percentage p {
        width: 45%;
        text-align: left;
    }
}

/* section-3 */

#section-3 {
    background-color:#540B51;
    text-align: center;
    padding: 5% 2%;
}


#section-3 h3 {
    font-size: 1.6rem;
    color:white;
    width: 93%;   
}

.purple-button {
    background-color: #540B51;
    border: 2px solid white;
    color: white;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #section-3 h3 {
        font-size: 2.2rem
        padding-left: 3%;;
    }

    #section-3 button {
        width: 80%;
    }
}

/* footer */

hr {
    width: 94%;    
    opacity: 0.4;
    margin-left: 0;
}

footer {
    background-color: white;
    height: 28rem;    
}

.vertical-ul {
    list-style: none;
    padding-top: 8%;
    height: 17rem;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    font-weight: bold;
    padding-left: 5%;
    font-size: 0.8rem;
}

.horizontal-ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 1.3rem;       
    padding: 0px 5%;
}

.small {
    text-align: center;
}

small {
    font-size: 0.7rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    /* hr does not work here */
    .vertical-ul {
        flex-flow: row;
        height: 2rem;
        padding-left: 0;
    }

    footer {
        height: 13rem;
    }

    .horizontal-ul {
        font-size: 1rem;  
        width: 33%;
    }    
}